.bottom
{
position:absolute;
bottom:0;
left:0;
width:100%;
height:4em;
mix-blend-mode: luminosity;
background-color:white;
display:flex;
flex-direction:row;
align-items:center;
justify-content: space-between;
}

.bottom *
{
  height:100%;
  border-radius:0px;
  flex-grow:1;
}
.slide.active
{
  transform: translateY(0);
  transition: transform 2s;
}
.slide:not(.active)
{
  transform: translateY();
  transition: transform 2s;
}